p {
  color: white;
  margin-bottom: 10px;
  width: 100%;
  line-height: 1.3em;
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  /* font-family: 'Alegreya', serif; */
}

h1 {
  margin-bottom: 10px;
  color: #4EB8E7;
  font-size: 1.8em;
  text-transform: uppercase;
}

h2 {
  margin-bottom: 10px;
}

h3 {
  margin-bottom: 7px;
}

table.npg {
  padding: 10px;
  text-align: center;
}

td.path {
  padding: 10px;
}

table.toc {
  width: 100%;
  margin-top: 25px;
  /* background-color: purple; */
}

table.toc td {
  /* background-color: purple; */
  vertical-align: top;
}

ul {
  list-style-type: none;
  /* color: purple; */
  margin-left: 25px;
}
