/* p {
  margin-bottom: 10px;
  line-height: 1.4em;
  font-size: 1em;
  font-family: 'Exo 2', sans-serif;
  font-weight: 300;
} */

p {
  font-family: 'Exo 2', sans-serif;
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 10px;
  line-height: 1.3em;
}

h1 {
  color: #4EB8E7;
  font-size: 1.8em;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  margin-top: 7px;
  margin-bottom: 10px;
}

h3 {
  margin-top: 10px;
  font-weight: 600;
  margin-bottom: 7px;
}

h4 {
  font-weight: 600;
  margin-bottom: 7px;
}

ul {
  list-style-type: none;
  margin-left: 25px;
}

.article_title {
  color: #4EB8E7;
  font-size: 2.7em;
  font-weight: 700;
  text-transform: uppercase;
}

.toc_column {
  width: 91%;
  margin: auto;
}

table.toc {
  width: 100%;
  margin-top: 25px;
}

table.toc td {
  vertical-align: top;
}

.articles_column {
  width: 70%;
  margin: auto;
}

table.npg {
  padding: 10px;
  text-align: center;
  font-size: .8em;
  margin: auto;
  border-collapse: collapse;
}

td.path {
  padding: 10px;
}

img.article {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 5px;
}

.article_caption {
  display: block;
  text-align: center;
  margin-bottom: 25px;
}
