/* <!-- <div style="margin: auto; width: 875px; border: .5px solid #73AD21; padding: 10px; text-align: center; height: 27.5px;">*</a></div> --> */

/* Gloabal styles for page body */

body {
  background-color: #11222A;
  font-family: 'Exo 2', sans-serif;
  color: #ffffff;
}

/* Background Images */

#background {
    position: fixed;
    width: 100%;
    z-index: -1;
    top: -100px;
    left: 0px;
    margin: 0px auto;
}

#bigbackground {
  position: fixed;
  width: 107%;
  z-index: -1;
  top:  0px;
  left: -30px;
  margin: 0px auto;
}

/* Page structure */

#frame_wrapper {
  width: 1040px;
  /* border-style: solid;
  border-color: #666; */
  /* border-width: .1px; */
  margin: auto;
}

#body_wrapper {
  /* opacity: 0.5; */
  width: 960px;
  border-left: .5px solid #F1810B;
  border-right: .5px solid #F1810B;
	margin: auto;
  background-color: #11222A;
  height: 1000px;
}

#body_header {
  /* height: 125px; */
  /* background-color: purple; */
  margin: auto;
}

#column-left {
  width: 320px;
  float: left;
  /* background-color: green; */
}

#column-center {
  width: 320px;
  /* height: 350; */
  float: left;
  /* background-color: red; */
}

#column-right {
  width: 320px;
  float: left;
  /* background-color: blue; */
}

#decks-column-left {
  width: 292px;
  float: left;
  margin-left: 40px;
  /* background-color: green; */
}

#deck-column-center {
  width: 292px;
  /* height: 350; */
  float: left;
  /* background-color: red; */
}

#decks-column-right {
  width: 292px;
  float: left;
  /* background-color: blue; */
}

#column-library {
  /* width: 672px; */
  width: 555px;
  float: left;
  margin-left: 40px;
  /* background-color: purple; */
}

#decksearch-header {
  /* width: 672px; */
  /* width: 878px; */
  float: left;
  margin-left: 41px;
  /* margin: auto; */
  /* background-color: purple; */
}

#column-decklist {
  /* width: 288px; */
  width: 324px;
  border-left: solid 1px orange;
  margin-right: 40px;
  float: left;
  /* background-color: orange; */
}

#decklist-wrapper {
  border: solid 1px white;
}

#cardsfilter-wrapper {
  width: 28%;
  height: 1000px;
  float: left;
  padding: 30px;
  border: solid ipx white;
  /* background-color: purple; */
}

#footer {
  height: 100px;
  clear: both;
  /* background-color: yellow; */
}

.clear_columns {
  clear: both;
}

/* MODULES========================================================== */

/* UPPER BAND FOR LOGIN/CONTACT ============================= */

.upper {
  height: 26px;
  background-color: #F1810B;
  /* font-weight: 600; */
  /* font-size: .8em; */
  color: #11222A;
  /* padding-top: 7px; */
}

.upper.left {
  float: left;
  margin-left: 5%;
  border-bottom-left-radius: 15px;
  padding-left: 25px;
}

.upper.right {
    float: right;
    margin-right: 5%;
    border-bottom-right-radius: 15px;
    padding-right: 25px;
}

.upper_center {
    overflow: hidden;
    height: 26px;
    background-color: #F1810B;
}

.lower {
  /* height: 100px; */
  background-color: #1C2D35;
  /* font-weight: 600; */
  /* font-size: .8em; */
  color: #11222A;
}

.lower.left {
  float: left;
  margin-left: 5%;
  border-top-left-radius: 15px;
  padding-left: 25px;
}

.lower.right {
    float: right;
    margin-right: 5%;
    border-top-right-radius: 15px;
    padding-right: 25px;
}

.lower_center {
    color: #999999;
    font-size: .7em;
    margin: auto;
    align: bottom;
    text-align: middle;
    padding: 24px;
    overflow: hidden;
    /* height: 26px; */
    background-color: #1C2D35;
    text-align: center;
    width: 100%;
    margin-top: 45px;
    float: left;
}

a.upper {
  font-size: .8em;
  font-weight: 600;
  padding-top: 7px;
}

a.upper:hover {
  color: #ffffff;
}

img.avatar {
  vertical-align: middle;
  margin-right: 3px;
  width: 18px;
  height: 18px;
  object-fit: fill;
  border: solid 1px #999999;
}

img.badge {
  vertical-align: middle;
  margin-right: 1px;
  width: 18px;
  height: 18px;
  object-fit: fill;
  /* border: solid 1px #999999; */
}


/* TOP NAV ============================= */

#topnav_buttons {
  margin-top: 36px;
  margin-bottom: 20px;
  margin-left: 30px;
  font-weight: 700;
  font-size: 1.12em;
  float: left;
}

/* SECTION HEADER ============================= */

#section {
  width: 916px;
  color: white;
  font-weight: 600;
  margin-top: -10px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

#section_title {
  font-size: 2em;
  color: #4EB8E7;
  margin-top: -58px;
  text-align: right;
  margin-right: 35px;
  font-weight: 700;
}

/* HOMEPAGE TOP BANNER IMAGE ============================= */

/* #home_banner {
  width: 916px;
  margin-top: -10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
} */

img.home_banner {
  width: 874px;
  height: 70px;
  margin-top: -10px;
  margin-bottom: 10px;
  margin-left: 43px;
  margin-right: auto;
  border-bottom: solid 1px orange;
  z-index: -1;
  object-fit: cover;
}

img.mid_banner {
  z-index: -1;
  float: left;
  margin-bottom: 1px;
}


/* HOMEPAGE COLUMN TITLE LABEL ============================= */

#column_label {
  font-size:1.2em;
  font-weight: 700;
  color: #ffffff;
  font-style: italic;
  text-align: center;
}

/* Definition for home page panel */

#panel {
  width: 260px;
  background-color:  #1C2D35;
  border-style: solid;
  border-color: #4EB8E7;
  border-width: .5px;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 9px;
  padding-left: 12px;
  /* padding:12px; */
  margin: 0 auto;
  margin-bottom: 10px;
  overflow-wrap: break-word;
  /* opacity: 0.5; */
}


/* HOME PAGE MID-PAGE BANNER ============================= */

.midbanner {
  /* border: 1px red solid; */
  clear: both;
  margin-left: 30px;
  margin-top: 15px;
  float: left;
  border-top: solid 1px orange;
  border-bottom: solid 1px orange;
  width: 874px;
  /* text-align: right;
  vertical-align: middle; */
  /* clear: both;
  float: left
  height: 10px;
  border: solid 1px green;
  background-color: purple; */
  /* background-color: white; */
}

#midbanner_text {
  color: #4EB8E7;
  font-size: 2em;
  font-weight: 700;
  margin-top: 25px;
  text-align: right;
  vertical-align: middle;
}


/* DECKS PAGE SEARCH RESULTS BODY ============================= */

.results {
  float: left;
  font-size: 2em;
  color: #4EB8E7;
  margin-right: 35px;
  font-weight: 700;
  margin-left: 40px;
  margin-top: 30px;
}

/* CARD SEARCH INPUT LABELS ============================= */

.cslabel {
  font-size: 1em;
  font-weight: 600;
  color: #ffffff;
  font-style: italic;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 5px;
}

.cslabel.first {
  margin-top: -10px;
}

/* FACTION FILTERS MODULE FORMATTING ============================= */

.faction_filters {
  float: left;
  margin-top: 10px;
}

/* Styles for panels */

#list_title {
  font-family: 'Exo 2', sans-serif;
  font-size: 1.1em;
  font-weight: 700;
  color:#F1810B;
  line-height: 1;
}

#byline {
  width: 236px;
  font-size: .9em;
  font-weight: 300;
  margin-top: .1em;
}


#article_author {
  font-weight: 600;
  color:#F1810B;
}

#ago_time {
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  font-style: italic;
}

#article_description {
  font-size: .9em;
  margin-top: 0em;
  font-weight: 300;
  /* margin-bottom: 5em; */
}

table.dl {
  background-color: #11222A;
  width: 100%;
}

#decktitle {
  font-size: 1.2em;
  font-weight: 600;
  margin-left: 15px;
  margin-top: 8px;
}

#deckcreator {
  font-size: 1em;
  font-weight: 400;
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom : 8px;
}

#cardcount {
  width: 300;
  /* border: solid white 1px; */
  margin-bottom: 7px;
  font-weight: 400;
  font-size: 1em;
  text-align: right;
}

#deck_info {
  /* border-style: solid;
  border-color: white; */
  margin-top: .4em;
}

.listed_factions {
  /* border-style: solid;
  border-color: blue; */
  width: 130px;
  float: left;
  /* font-weight: 600;
  color: #4EB8E7; */
}

.factions_centered {
  text-align: center;
  /* border:1px solid #666; */
}

#essence {
  /* border-style: solid;
  border-color: green; */
  float: left;
  margin-left: 1em;
  /* margin-right: auto; */
  text-align: center;
  width: 65px;
  font-weight: 600;
  color: #B4E185;
}

#upvotes {
  /* border-style: solid;
  border-color: red; */
  /* width: 55px; */
  float: leftt;
  font-weight: 600;
  margin-left: 2em;
  text-align: right;
  color: #4EB8E7;
}

.card_type_label {
  /* float: left; */
  display: table-cell;
  /* width: 250px; */
  /* height: 80px;
  padding: 10px; */
  /* border: 3px dashed #1c87c9; */
  vertical-align: middle;
}

/* CARD DETAILS PAGE ==================================== */

#column_card_details {
  /* width: 672px; */
  width: 874px;
  float: left;
  margin-left: 40px;
  /* background-color: red; */
}

#card_details_left {
  width: 210px;
  float: left;
  margin-left: 30px;
  /* background-color: purple; */
}

#card_details_right {
  width: 210px;
  float: left;
  margin-left: 30px;
  /* background-color: green; */
}

img.card_details {
  width: 333px;
  float: left;
}

img.card_faction {
  height: 22px;
  /* float: left; */
  vertical-align: middle;
}

.card_detail_label {
  font-size: 1em;
  font-weight: 600;
  color: #458A9E;
  font-style: italic;
  text-align: left;
  /* margin-top: 20px; */
  margin-bottom: 5px;
}

hr.card_detail {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, #458A9E, #458A9E, #1C2D35);
}


.card_detail_name {
  font-weight: 600;
  font-size: 2em;
  margin-bottom: 8px;
}

.card_detail_text {
  font-weight: 400;
  font-size: 1.8em;
  margin-bottom: 18px;
}


/* IMAGES ============================== */


img.faction_list {
  margin: 0px 2px 2px 0px;
  width: 15px;
  padding: 2px;
}

img.faction_icon {
  margin: 0px 2px 2px 0px;
  width: 40px;
  padding: 10px;
  opacity: 0.7;
}

img.faction_icon:hover {
  opacity: 1;
  -webkit-filter: drop-shadow(0px 0px 3px rgba(241,129,11,0.7));
}

img.cost {
  width: 30px;
  margin: 7px;
  opacity: 0.7;
  vertical-align: middle;
}

img.cost:hover {
  opacity: 1;
  -webkit-filter: drop-shadow(0px 0px 3px rgba(241,129,11,0.5));
}

img.card_type {
  /* float: left; */
  vertical-align: middle;
  height: 30px;
  margin: 7px;
  opacity: 0.7;
}

img.card_type:hover {
  opacity: 1;
  -webkit-filter: drop-shadow(0px 0px 3px rgba(241,129,11,0.5));
}

img.uparrow {
  margin-right: .1em;
  width: 10px;
}

img.essence {
  margin-right: .1em;
  width: 10px;
}

/* Decklist Table */

#decklist_wrapper {
  border: solid 1px #ffffff;
  background-color: #333333;
  border-radius: 7px;
  margin-left: 20px;
  width: 100%;
}

table.decklist {
  width: 100%;
  background-color: #11222A;
}

table.decklist td {
  border: 0px;
  padding: 10px;
  background-color: #333333;
  font-size:.8em;
}

/* table.decklist th {
  text-align: right;
} */

table.decksearch {
  width: 878px;
  margin-left: 40px;
  margin-top: 325px;
  border-collapse: collapse;
  padding: 20px;
  overflow-wrap: break-word;

  /* background-color: purple; */
}

table.decksearch tr {
  border-top: 1px solid orange;
  /* background-color: purple; */
}

table.decksearch tr:nth-child(even) {
  background-color: #1C2D35;
}

table.decksearch td {
  padding: 10px;
}

#pathpower {
  font-size:1em;
  /* color:#ffffff; */
  /* font-family: 'Exo 2', sans-serif; */
  background-color: #333333;
  text-align: left;
  colspan="3";
  padding: 10px;
}

#mana_cost {
  font-size: 1.1em;
  background-color: #333333;
  color:#ffffff;
  font-family: arial;
  /* font-weight: bold; */
}

#gem_cost_b {
  width: 30px;
  text-align: center;
  color:#4EB8E7;
  font-family:verdana;
  background-color: #333333;
}

#gem_cost_y {
  width: 30px;
  text-align: center;
  color: #E9E008;
  font-family:verdana;
  background-color: #333333;
}

#gem_cost_r {
  width: 30px;
  text-align: center;
  color: #DC1919;
  font-family:verdana;
  background-color: #333333;
}

#gem_cost_g {
  width: 30px;
  text-align: center;
  color: #30B170;
  font-family:verdana;
  background-color: #333333;
  }

#gem_cost_o {
  width: 30px;
  text-align: center;
  color: #F97800;
  font-family:verdana;
}

#gem_cost_p {
  width: 30px;
  text-align: center;
  color: #AC55E9;
  font-family:verdana;
}

#norden {
  background-color: #4EB8E7; text-align: left;
}

#aztlan {
  background-color: #E9E008; text-align: left;
}

#orboros {
  background-color: #DC1919; text-align: left;
}

#dreni {
  background-color: #30B170; text-align: left;
}

#parsa {
  background-color: #F97800; text-align: left;
}

#harmony {
  background-color: #AC55E9; text-align: left;
}

card_name {
  font-size:1em;
  color: #333333;
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
}

#card_quantity {
  font-size:.7em;
  color:#ffffff;
  font-family:arial;
  font-style: italic;
}

#common {
  width: 4px;
  padding: 0px;
  background-color: #6C583F;
}

#uncommon {
  width: 4px;
  padding: 0px;
  background-color: #949695;
}

#rare {
  width: 4px;
  padding: 0px;
  background-color: #BB9032;
}

#mythic {
  width: 4px;
  padding: 0px;
  background-color:  #3F78C1;
}


/* Table for Card Library */

table.cardlibrary {
  width: 100%;
  border: solid 0px #666;
  cellpadding: 0;
  /* background-color: yellow; */
}

table.cardlibrary td {
  width: 100%;
  border: solid 0px #666;
  cellpadding: 0;
  margin-top: 7px;
  /* background-color: yellow; */
}

#cardartcell {
  width: 25%;
  top-margin: 50px;
  height: 185px;
  /* background-color: yellow; */
}

#cardart {
  width: 120px;
  /* margin: auto; */
}

#pathart {
  width: 160px;
  /* margin: auto; */
}

#pathartcell {
  width: 33%;
  top-margin: 20px;
  height: 135px;
  /* background-color: yellow; */
}

.decksearch_name {
  width:300px;
  top-margin: 50px;
  height: 50px;
  /* background-color: yellow; */
}

.decksearch_factions {
  width: 260px;
  /* border: 1px red solid;
  background-color: yellow; */
}

.decksearch_essence {
  /* float: left; */
  /* margin-left: 1em; */
  text-align: center;
  font-weight: 600;
  width: 200px;
  color: #B4E185;
  top-margin: 50px;
  /* background-color: purple; */
}

.decksearch_archetype {
  /* float: left; */
  /* margin-left: 1em; */
  text-align: center;
  font-weight: 500;
  width: 200px;
  /* color: #B4E185; */
  top-margin: 50px;
  /* background-color: green; */
}

.decksearch_date {
  width: 150px;
  color: #ffffff;
  font-weight: 500;
  margin-left: 30px;
  text-align: right;
  font-size: .8em
}

/* Link and hover styles */

a {
    color: #F1810B;
    text-decoration: none;
}

a.tn {
    color: #FFFFFF;
    text-decoration: none;
}

a.selected {
    color: #4EB8E7;
    text-decoration: none;
}

a:hover {
    color:  #4EB8E7;
}

a.mb {
    color: #4EB8E7;
    text-decoration: none;
}

a.mb:hover {
    color:  orange;
}

a.mb {
    color: #4EB8E7;
    text-decoration: none;
}

a.creator {
    color: orange;
    text-decoration: none;
}

a.creator:hover {
    color:  #4EB8E7;
}

a.tabs {
    color: #458A9E;
}

a.tabs:hover {
    color: orange;
}

a.buttons {
    color: #ffffff;
}

a.buttons:hover {
    color: orange;
}

a.buttonst {
    color: #333333;
}

a.buttonst:hover {
    color: #4EB8E7;
}

a.decksearch {
    color: #ffffff;
    text-decoration: none;
}

a.decksearch:hover {
    color: #4EB8E7;
    text-decoration: none;
}

#more_link {
  font-size:.7em;
  margin-top: -5px;
  margin-right: 20px;
  font-weight: 600;
  /* color: #458A9E;
  font-style: italic; */
  text-align: right;
}



/* Inputs and Buttons */

input[type=text].a {
  width: 350px;
  height: 30px;
  border: 1px solid #458A9E;
  background-color: #D1D1D1;
  border-radius: 7px;
  margin-top: 5px;
  outline: none;
  padding-left: 9px;
}

input[type=text].a.decks {
  width: 250px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #458A9E;
  opacity: 1; /* Firefox */
  font-style: italic;
  font-family: 'Exo 2', sans-serif;
}

input[type=text].b {
  width: 250px;
  height: 30px;
  border: 1px solid #458A9E;
  background-color: #D1D1D1;
  border-radius: 7px;
  margin-top: 5px;
  outline: none;
  padding-left: 9px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #458A9E;
  opacity: 1; /* Firefox */
  font-style: italic;
  font-family: 'Exo 2', sans-serif;
}

.button {
  background-color: #333333;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-family: 'Exo 2', sans-serif;
  border-radius: 7px;
  margin: 5px 5px 5px 5px;
}

.button1 {float: right;}

.button2 {
  border: 1px solid #458A9E;
  background-color: #333333;
  color: #ffffff;
  width: 100px;
  margin-left: 44px;
  font-style: italic;
  font-weight: 600; f
  font-size: 1em;}

.button2b {
  border: 1px solid #458A9E;
  background-color: orange;
  color: blue;
  width: 100px;
  margin-left: 44px;
  font-style: italic;
  font-weight: 600; f
  font-size: 1em;}

.button3 {
  border: 1px solid #458A9E;
  background-color: #333333;
  color: #ffffff;
  width: 300px;
  margin-left: 28px;
  font-style: italic;
  font-weight: 600;
  font-size: 1em;}

.button4 {
  padding: 5px;
  border-top: 1px solid #458A9E;
  border-right: 1px solid #458A9E;
  border-left: 1px solid #458A9E;
  border-bottom: 1px solid #11222A;
  background-color: #11222A;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  color: #458A9E;
  width: 100px;
  height: 30px;
  font-style: normal;
}

.button5 {
  /* margin-left: 10px; */
  padding: 5px;
  border-top: 1px solid #458A9E;
  border-right: 1px solid #458A9E;
  border-left: 1px solid #458A9E;
  border-bottom: 1px solid #458A9E;
  background-color: #11222A;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  color: #458A9E;
  width: 100px;
  height: 30px;
  font-style: normal;
}

.cardset select {
   background-color: #D1D1D1;
   width: 268px;
   height: 30px;
   padding: 5px;
   /* font-size: 16px; */
   line-height: 1;
   border: 1px solid #458A9E;
   border-radius: 7px;
   /* -webkit-appearance: none; */
   outline: none;
   color: #458A9E;
   opacity: 1; /* Firefox */
   font-style: italic;
   font-family: 'Exo 2', sans-serif;
   }

   .cardsearch select {
      background-color: #D1D1D1;
      width: 260px;
      height: 30px;
      padding: 5px;
      /* font-size: 16px; */
      line-height: 1;
      border: 1px solid #458A9E;
      border-radius: 7px;
      /* -webkit-appearance: none; */
      outline: none;
      color: #458A9E;
      opacity: 1; /* Firefox */
      font-style: italic;
      font-family: 'Exo 2', sans-serif;
      }


.toggle {
  /* float: left; */
  display: inline-block;
  /* vertical-align: middle; */
  /* border: solid 1px white; */
  color: green;
  width: 200px;
}

   .switch {
     position: relative;
     display: inline-block;
     vertical-align: middle;
     /* float: left; */
     width: 50px;
     height: 24px;
     margin: 0px 5px 0px 5px;
   }

   .switch input {
     opacity: 0;
     width: 0;
     height: 0;
   }

   .slider {
     position: absolute;
     cursor: pointer;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #ccc;
     -webkit-transition: .4s;
     transition: .4s;
   }

   .slider:before {
     position: absolute;
     content: "";
     height: 16px;
     width: 16px;
     left: 4px;
     bottom: 4px;
     background-color: white;
     -webkit-transition: .4s;
     transition: .4s;
   }

   input:checked + .slider {
     background-color: #B4E185;
   }

   input:focus + .slider {
     box-shadow: 0 0 1px #333;
   }

   input:checked + .slider:before {
     -webkit-transform: translateX(26px);
     -ms-transform: translateX(26px);
     transform: translateX(26px);
   }

   /* Rounded sliders */
   .slider.round {
     border-radius: 34px;
   }

   .slider.round:before {
     border-radius: 50%;
   }

/* Horizontal Rules */

hr.top {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    border: none;
    color: #F1810B;
    background-color: #F1810B;
    width: 91%;
}

hr.top.db {
  color: green;
}

hr.ograd {
    margin-top: 10px;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #11222A, #F1810B, #11222A);
}

hr.bgrad {
    margin-top: 10px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: 0;
    height: .5px;
    background-image: linear-gradient(to right, #1C2D35, #4EB8E7, #4EB8E7);
}

hr.cbody {
  margin-top: -6.5px;
  margin-bottom: 10px;
  height: 1.5px;
  border: none;
  color: #458A9E;
  background-color: #458A9E;
  width: 95%;
}

hr.cardfilters {
  margin-top: 10px;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, #4EB8E7, #4EB8E7, #1C2D35);
}

/* Original Structure */

* {
margin: 0;
padding: 0;
}

#wrapper {
  width: 960px;
  border-left: .5px solid #F1810B;
  border-right: .5px solid #F1810B;
  margin: 0 auto;
  background-color: #11222A;
  /* opacity: 0.5; */
}

#header {
/* height: 100px; */
/* border-style: solid;
border-color: #ffffff; */
}

#db_wrapper {
width: 900px;
margin: 0 auto;
border-left: .5px solid #FFFFFF;
border-right: .5px solid #FFFFFF;
