/* <!-- <div style="margin: auto; width: 875px; border: .5px solid #73AD21; padding: 10px; text-align: center; height: 27.5px;">*</a></div> --> */


/* Gloabal styles for page body */

body {
  background-color: #11222A;
  font-family: 'Exo 2', sans-serif;
  color: #ffffff;
}

/* Background Images */

#background {
    position: fixed;
    width: 100%;
    z-index: -1;
    top: -100px;
    left: 0px;
    margin: 0px auto;
}

#bigbackground {
  position: fixed;
  width: 107%;
  z-index: -1;
  top:  0px;
  left: -30px;
  margin: 0px auto;
}


/* Page structure */

#frame_wrapper {
  width: 1040px;
  /* border-style: solid;
  border-color: #666; */
  border-width: .1px;
  margin: auto;
}

#body_wrapper {
  /* opacity: 0.5; */
  width: 960px;
  border-left: .5px solid #F1810B;
  border-right: .5px solid #F1810B;
	margin: auto;
  background-color: #11222A;
  height: 1000px;
}

#body_header {
  /* height: 125px; */
  /* background-color: purple; */
  margin: auto;
}

#column-left {
  width: 320px;
  float: left;
  background-color: green;
}

#column-center {
  width: 320px;
  /* height: 350; */
  float: left;
  background-color: red;
}

#column-library {
  /* width: 672px; */
  width: 555px;
  float: left;
  margin-left: 40px;
  /* background-color: purple; */
}

#column-decklist {
  /* width: 288px; */
  width: 325px;
  margin-right: 40px;
  float: left;
  background-color: orange;
}

#column-right {
  width: 320px;
  float: left;
  background-color: blue;
}

#footer {
  height: 100px;
  clear: both;
  background-color: yellow;
}

/* Modules */

#topnav_buttons {
  margin-top: 36px;
  margin-bottom: 20px;
  margin-left: 30px;
  font-weight: 700;
  font-size: 1.12em;
  float: left;
}

#section {
  /* height: 100px; */
  /* border-style: solid;
  border-color: #4EB8E7; */
  width: 916px;
  color: white;
  font-weight: 600;
  margin-top: -10px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

#section_title {
  font-size: 2em;
  color: #4EB8E7;
  margin-top: -58px;
  text-align: right;
  margin-right: 35px;
  /* vertical-align: middle; */
  font-weight: 700;
  /* background-color: white; */
}

#column_label {
  font-size:1.2em;
  font-weight: 700;
  color: #ffffff;
  font-style: italic;
  text-align: center;
}

#cslabel {
  font-size: 1em;
  font-weight: 600;
  color: #ffffff;
  font-style: italic;
  text-align: center;
  margin-bottom: 5px;
}

input[type=text].a {
  width: 350px;
  height: 30px;
  border: 1px solid #458A9E;
  background-color: #D1D1D1;
  border-radius: 7px;
  margin-top: 5px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #458A9E;
  opacity: 1; /* Firefox */
  font-style: italic;
  font-family: 'Exo 2', sans-serif;
}

/* Link and hover styles */

a {
    color: #F1810B;
    text-decoration: none;
}

a.tn {
    color: #FFFFFF;
    text-decoration: none;
}

a.selected {
    color: #4EB8E7;
    text-decoration: none;
}


a:hover {
    color:  #4EB8E7;
}

a.mb {
    color: #4EB8E7;
    text-decoration: none;
}

a.mb:hover {
    color:  orange;
}

/* Horizontal Rules */

hr.top {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    border: none;
    color: #F1810B;
    background-color: #F1810B;
    width: 91%;
}

hr.ograd {
    margin-top: 10px;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #11222A, #F1810B, #11222A);
}

hr.bgrad {
    margin-top: 10px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: 0;
    height: .5px;
    background-image: linear-gradient(to right, #1C2D35, #4EB8E7, #4EB8E7);
}


#more_link {
  font-size:.7em;
  margin-top: -5px;
  margin-right: 20px;
  font-weight: 600;
  /* color: #458A9E;
  font-style: italic; */
  text-align: right;
}


/* Definition for home page panel */

#panel {
  width: 260px;
  background-color:  #1C2D35;
  border-style: solid;
  border-color: #4EB8E7;
  border-width: .5px;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 9px;
  padding-left: 12px;
  /* padding:12px; */
  margin: 0 auto;
  margin-bottom: 10px;
  overflow-wrap: break-word;
  /* opacity: 0.5; */
}

/* Styles for panels */

#list_title {
  font-family: 'Exo 2', sans-serif;
  font-size: 1.1em;
  font-weight: 700;
  color:#F1810B;
  line-height: 1;
}

#byline {
  width: 236px;
  font-size: .9em;
  font-weight: 300;
  margin-top: .1em;
}


#article_author {
  font-weight: 600;
  color:#F1810B;
}

#ago_time {
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  font-style: italic;
}

#article_description {
  font-size: .9em;
  margin-top: 0em;
  font-weight: 300;
  /* margin-bottom: 5em; */
}

#faction_icon {
  margin: 0px 2px 2px 0px;
  width: 15px;
  padding: 2px;
}

#faction_icon.db {
  margin: 0px 2px 2px 0px;
  width: 40px;
  padding: 10px;
}

.button {
  background-color: #333333;
  border: 1px solid #458A9E;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-family: 'Exo 2', sans-serif;
  color: #ffffff;
  font-weight: 600;
  font-style: italic;
  font-size: 1em;
  border-radius: 7px;
  width: 100px;
  margin: 5px 5px 5px 5px;
}

.button1 {float: right;}
.button2

#deck_info {
  /* border-style: solid;
  border-color: white; */
  margin-top: .4em;
}

#factions {
  /* border-style: solid;
  border-color: blue; */
  width: 130px;
  float: left;
  font-weight: 600;
  color: #4EB8E7;
}

#essence {
  /* border-style: solid;
  border-color: green; */
  float: left;
  margin-left: 1em;
  /* margin-right: auto; */
  text-align: center;
  width: 65px;
  font-weight: 600;
  color: #B4E185;
}

#upvotes {
  /* border-style: solid;
  border-color: red; */
  /* width: 55px; */
  float: leftt;
  font-weight: 600;
  margin-left: 2em;
  text-align: right;
  color: #4EB8E7;
}


img.uparrow {
  margin-right: .1em;
  width: 10px;
}

img.essence {
  margin-right: .1em;
  width: 10px;
}

#midbanner {
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  text-align: right;
  vertical-align: middle;
  /* background-color: white; */
}

#midbanner_text {
  font-size: 2em;
  color: #4EB8E7;
  margin-top: 25px;
  text-align: right;
  margin-right: 15px;
  vertical-align: middle;
  font-weight: 700;
  /* background-color: white; */
}

/* Column layout */

* {
margin: 0;
padding: 0;
}

#wrapper {
width: 960px;
border-left: .5px solid #F1810B;
border-right: .5px solid #F1810B;
margin: 0 auto;
background-color: #11222A;
/* opacity: 0.5; */
}

#header {
/* height: 100px; */
/* border-style: solid;
border-color: #ffffff; */
}

#db_wrapper {
width: 900px;
margin: 0 auto;
border-left: .5px solid #FFFFFF;
border-right: .5px solid #FFFFFF;

/* margin-left: 35px; */
background-color: purple;
/* opacity: 0.5; */
}
