# NOTE:
# The file in version control contains placeholders only

# Google OAuth support
GOOGLE_CLIENT_ID=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
GOOGLE_CLIENT_SECRET=XXXXXXXXXXXXXXXXXXXXXXXX
GOOGLE_CALLBACK_URL=http://localhost:3001/auth/google/callback
GOOGLE_AUTH_SCOPE=https://www.googleapis.com/auth/userinfo.email

# Google Analytics
GA_TRACKING_ID=XX-YYYYYYYYY-1

# Domain to get images and other static assets from
MG_CDN=https://cdn.mythgardhub.com

MG_CARDS_CDN=https://cards.mythgardhub.com

# PostgreSQL connection info
PGUSER=postgraphile
PGHOST=db
PGPASSWORD=bears4life
PGDATABASE=postgres
PGPORT=5432
PGSSL=no

EXPRESS_PGUSER=postgres
EXPRESS_PGPASSWORD=example
EXPRESS_SESSION_SECRET=owl_chEEse_7

# Roles assumed by Postgraphile for making DB requests
PG_AUTHD_USER_ROLE=authd_user
PG_ANON_USER_ROLE=anon_user

# Configs For JWTs
JWT_COOKIE_NAME=jwt
JWT_SECRET=banana_cat_fondue
JWT_ISSUER=mythgardhub.com
JWT_AUDIENCE=mythgardhub.com

# A loop-back for SSR requests
SSR_HOST=http://next:3001

# Endpoint for talking to the express app internally
API_HOST=http://express:3000

# General Contact Email
EMAIL_MG_CONTACT=Contact@mythgardhub.com

# Support Email
EMAIL_MG_SUPPORT=Support@mythgardhub.com

# Events Email
EMAIL_MG_EVENTS=Tournaments@mythgardhub.com

# Business Email
EMAIL_MG_BUSINESS=Partnership@Mythgardhub.com


DISCORD_INVITE_URL=https://discord.gg/2erdzxj
